* text=auto
*.sh text eol=lf
install.sh text eol=lf
installer/** text eol=lf
installer/mc-panel text eol=lf
.github/docker/* text eol=lf
*.png binary
*.jpg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
